<%- include('../partials/main'); %>
<body>
  <%- include('../partials/header'); %>
  <section>
       
    <h4>Wyloguj się:</h4>
    <form method="POST" action="/logout">
      <button type="submit" formaction="/logout" formmethod="post">Log out</button>
    </form>
  </section>