<nav>
  <div id="navbar">
  <ul>
     <li><a href="/homepage">Homepage</a></li>
     <li><a href="/add-schedules">Schedules management</a></li>
     <li><a href="/logout">Log out</a></li>
  </ul>
  </div>
</nav> 

